[workspace]
resolver = "3"
members = ["core", "scene", "common", "gltf-viewer", "scene-info", "scene-converter"]
default-members = ["core"]


[profile.small]
inherits = "release"
opt-level = "s"
strip = true
lto = true
codegen-units = 1
